* {
	font-family: 'Playfair Display', serif;
		box-sizing: border-box; 	
}

body {
	background-color: rgb(183, 187, 187);
}

a {
	color: black; 
}

li {
	list-style-type: none;
}


.header-text {
 max-width: 100%;
 margin: 0px; 
 padding: 0px; 
 display: inline-block;

}

.header {
	display: inline-block;
	justify-content: center;
	text-align: center; 
	max-width: 100%; 
	margin: 0px; 
	padding: 0px; 
	border-bottom: 2px black solid;
	/* background-color: rgb(242, 242, 243); */
}

.header-title {
	padding:  4% 0px  4% 0px; 
	margin: 0px; 
	justify-content: center;
	font-size: 4rem; 
	background-image: url("images/agriculture-countryside-crop-cropland-388415.jpg");
}

a,
.nav-item, 
.nav-bar,
.navbar {
	margin: 0px; 
	padding: 0px; 
}

.navbar {
	font-size: 2rem; 
	justify-content: space-around;
	border-top: 2px solid black;
	width: 100%; 
	background-color: rgb(160, 160, 158); 
}

 .intro-text {
	margin-top: 20px;  
}

.body-header {
 font-size: 2rem; 
 text-align: center;
 margin: 20px 0px;
}

.body-pic {
	max-width: 80%;
	border-radius: 20px;
	display: block; 
	margin: auto; 
	padding-bottom: 10px;

} 

.content {
	max-width: 70%; 
	justify-content: center;
	padding: 20px;
	font-size: 1.4rem;
	line-height: 2; 
}

/* .section-content {
	justify-content: center;
} */

footer {
	text-align: center; 
	margin-top: 50px;  
  }

  hr {
	border: 1px solid rgb(90, 94, 90);
  }

